.header {
    height: 100vh;
    @include flexbox();
    @include flex-direction(column-reverse);
    @include box-sizing(border-box);

    &-avatar {
        border-radius: 50%;
        width: 250px;
        border: 25px solid $mabel;
        margin-bottom: 20px;
    }
}