.navbar {
    &-nav {
        display: none;
    }

    &-item {
        
    }

    &-link {
        text-decoration: none;
        color: $gun-powder;
    }

    &-mobile {
        background-color: $athens-gray;
        list-style: none;
        position: fixed;
        padding: 0;
        width: 100vw;
        height: 5rem;
        bottom: 0;
        @include flexbox();
        @include flex-direction(row);
    
        & .navbar-item {
            width: 100%;
            text-align: center;
        }
    }
}