.title {
    @at-root {
        h1#{&} {
            font-weight: bolder;
            font-size: 30px;
            margin-bottom: 10px;
        }


        h2#{&} {
            font-weight: bolder;
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
}

.subtitle {
    @at-root {
        h2#{&} {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}