.title {
    font-weight: bold;
    margin-bottom: 10px;
    
    @at-root {
        h1#{&} {
            font-size: 30px;
        }

        h2#{&} {
            font-size: 25px;
        }

        h3#{&} {
            font-size: 20px;
        }
    }

    &-education {
        text-align: left;
    }
}

.subtitle {
    @at-root {
        h2#{&} {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}